<table class="table table-striped" id="gamelog-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>W Pts</th>
      <th>L Pts</th>
      <th>W Off</th>
      <th>W Def</th>
      <th>L Off</th>
      <th>L Def</th>
    </tr>
  </thead>
  <tbody>
    <% games.forEach(function(game) { %>
      <tr>
        <td data-order="<%= game.date.getTime() %>"><%= game.date.toLocaleDateString() %> <%= game.date.toLocaleTimeString() %></td>
        <td><%= game.winGoals %></td>
        <td><%= game.losGoals %></td>
        <td data-order="<%= game.winOff.ldap %>"><a target="_blank" href="/stats/<%= game.winOff.ldap %>"><%= game.winOff.ldap %></a></td>
        <td data-order="<%= game.winDef.ldap %>"><a target="_blank" href="/stats/<%= game.winDef.ldap %>"><%= game.winDef.ldap %></a></td>
        <td data-order="<%= game.losOff.ldap %>"><a target="_blank" href="/stats/<%= game.losOff.ldap %>"><%= game.losOff.ldap %></a></td>
        <td data-order="<%= game.losDef.ldap %>"><a target="_blank" href="/stats/<%= game.losDef.ldap %>"><%= game.losDef.ldap %></a></td>
      </tr>
    <% }); %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function(){
    $('#gamelog-table').DataTable({
      paging: true,
      searching: false,
      pageLength: 10,
      order: [[ 0, 'desc' ]]
    });
  });
</script>
