<div class="table-wrapper">
  <table class="table table-striped datatable" id="rating-table">
    <thead>
      <tr>
        <th>LDAP</th>
        <th>Rating</th>
        <th>Wins</th>
        <th>Win%</th>
        <th>OWin%</th>
        <th>DWin%</th>
        <th>Games</th>
      </tr>
    </thead>
    <tbody>
      <% players.forEach(function(player) { %>
        <tr>
          <td><a target="_blank" href="/u/<%= player.ldap %>"><%= player.ldap %></a></td>
          <td><%= player.rating.toFixed(2) %></td>
          <td><%= player.games.wins %></td>
          <td><%= (((player.games.wins/player.games.total)*100) || 0).toFixed(2) %>%</td>
          <td><%= (((player.gamesOff.wins/(player.gamesOff.wins+player.gamesOff.losses))*100) || 0).toFixed(2) %>%</td>
          <td><%= (((player.gamesDef.wins/(player.gamesDef.wins+player.gamesDef.losses))*100) || 0).toFixed(2) %>%</td>
          <td><%= player.games.total %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#rating-table').DataTable({
      paging: false,
      searching: false,
      order: [[ 1, 'desc' ], [2, 'desc'], [6, 'desc']]
    });
  });
</script>
