<table class="table table-striped">
  <tr>
    <th>LDAP</th>
    <th>Rating</th>
    <th>Wins</th>
    <th>Win %</th>
    <th>O Win %</th>
    <th>D Win %</th>
  </tr>
  <% players.forEach(function(player) { %>
    <tr>
      <td><%= player.ldap %></td>
      <td><%= player.rating.toFixed(2) %></td>
      <td><%= player.gamesOff.wins + player.gamesDef.wins %></td>
      <td><%= (((player.games.wins/player.games.total)*100) || 0).toFixed(2) %>%</td>
      <td><%= (((player.gamesOff.wins/player.games.total)*100) || 0).toFixed(2) %>%</td>
      <td><%= (((player.gamesDef.wins/player.games.total)*100) || 0).toFixed(2) %>%</td>
    </tr>
  <% }); %>
</table>
