<table class="table table-striped" id="rating-table">
  <thead>
    <tr>
      <th>Wins</th>
      <th>Losses</th>
      <th>Avg. Scored</th>
      <th>Avg. Allowed</th>
      <th>Scored</th>
      <th>Allowed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= totals.wins %></td>
      <td><%= totals.losses %></td>
      <td><%= totals.avgPoints.scored.toFixed(2) %></td>
      <td><%= totals.avgPoints.allowed.toFixed(2) %></td>
      <td><%= totals.points.scored %></td>
      <td><%= totals.points.allowed %></td>
    </tr>
  </tbody>
</table>
