<!DOCTYPE html>
<html>
<head>
  <title>Foosball | <%= ldap %> </title>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <div class="container">
    <div>
      <% if (player.games.total == 8) { %>
        <div class="alert alert-danger" role="alert">
          <strong>So close!</strong> Only 1 more game before you're placed!
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="<%= player.games.total %>" aria-valuemin="0" aria-valuemax="9" style="width: <%= (player.games.total / 9) * 100 %>%"></div>
        </div>
      <% } else if (player.games.total < 9) { %>
        <div class="alert alert-danger" role="alert">
          <strong>Oh snap!</strong> Only <%= 9 - player.games.total %> more games before you're placed!
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="<%= player.games.total %>" aria-valuemin="0" aria-valuemax="9" style="width: <%= (player.games.total / 9) * 100 %>%"></div>
        </div>
      <% } %>
      <div class="alert alert-warning" id="system-stats-warning" role="alert">
        <strong>Warning!</strong> Personal stats are based only on games entered in this system.
      </div>

      <h2>Totals</h2>
      <% include ../partials/statsTotals.ejs %>
      <h2>Gamelog</h2>
      <% include ../partials/gamelog.ejs %>
    </div>
  </div>
</body>

</html>
